[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "*"
tweepy = "*"
requests = "*"
python-dateutils = "*"

[requires]
python_version = "3.6"
